.workspaceLeftHeader {
  margin: 0 auto;
  width: 90%;
  color: #ab9ba9;
  position: relative;

  &:hover {
    color: white;
  }
}

.workspaceLeftHeaderTitleContainer {
  margin-bottom: -2px;
  margin-top: 0.5625rem;
  line-height: 1.075rem;
  display: flex;
}

.workspaceLeftHeaderTitle {
  color: white !important;
  font-size: 1.125rem;
  line-height: 1.375;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

.workspaceLeftHeaderV {
  // color: #a09a9f;
  margin-top: 3px;
  outline: 0;
  order: 1;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  padding: 3px;
}

.workspaceLeftHeaderUsernameContainer {
  // font-weight: 300px;
  // margin-left: 30px;
  // margin-top: 4px;

  // color: #ab9ba9;
  display: flex;
  position: relative;
  margin-top: 2px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  z-index: 1;
}

.userStatus {
  margin-right: 5px;
  i {
    color: green;
  }
}

.workspaceLeftHeaderUsername {
  // color: #a09a9f;
  margin-left: 4px;
  font-size: 0.87rem;
  font-weight: 500;

  // &:hover {
  //   color: white;
  // }
}

// .userInfoDropDown {
//   color: white;
//   cursor: pointer;
//   height: 60px;
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   padding-left: 15px;
//   padding-top: 10px;
// }

// .userInfoDropDown:hover {
//   background-color: #301c2b;
// }

// .userInfoTitle {
//   font-weight: 500;
//   font-size: 17px;
//   padding-bottom: 5px;
// }

// .userInfoUsername {
//   display: flex;
//   font-weight: 300;
//   font-size: 13px;
// }
