.workspaceImage {
  height: 40px;
  background-image: url("/assets/test.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.workspaceContainer {
  background-color: #301c2b;
  width: 130px;
}
